<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150963877015-kobth59s0t3l5pdcdtfgnrarjqtpvi1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150963877015-kobth59s0t3l5pdcdtfgnrarjqtpvi1a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>150963877015-7pc7s9h16isqeo2m7ffo5mjtlam8modo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWXLnBd0tJ68Yhi3lV6PTti28eM6XQZMo</string>
	<key>GCM_SENDER_ID</key>
	<string>150963877015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devco.shoppingapp</string>
	<key>PROJECT_ID</key>
	<string>shopping-app-def6e</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-app-def6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150963877015:ios:8958ead0d09ff50276a5d2</string>
</dict>
</plist>